* {
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.descuento {
  background: #1cd1b0;
  margin: 0;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
/* header */
header {
  background: #00669f;
  height: 55px;
  position: sticky;
  top: 10px;
  z-index: 99999990;
}

header h1 {
  color: white;
  margin: 0;
  padding: 3px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}
nav {
  background-color: #000000;
  color: #ffffff;
}
.menu {
  margin: 0;
  text-align: right;
  margin-right: 10px;
}
.menu li {
  display: inline-block;
  margin: 0px;
  text-align: right;
}
/* dimensiones del main */
main {
  margin: 20px 100px;
}

/* dimenciones de la carta */
.card {
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: inline-block;
  margin: 15px;
  position: relative;
  width: 320px;
}

/* contenedor fondo carta */

.box_imagen {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 193px;
  width: 100%;
}
.imagen1 {
  background-image: url(../ejercicio4/material_clase7/bg-batman.jpg);
}
.imagen2 {
  background-image: url(../ejercicio4/material_clase7/bg-wonderw.jpg);
}

.imagen3 {
  background-image: url(../ejercicio4/material_clase7/bg-superman.jpg);
}

/* contenido secundario carta perfil del personaje */

.perfil {
  border-radius: 94px;
  position: absolute;
  top: 24%;
  left: 23%;
  width: 150px;
}

.info_perfil h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 10px;
  text-align: center;
}
.info_perfil p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
}
.info_perfil a {
  background-color: #00669f;
  color: white;
  width: 148px;
  height: 20px;
  text-decoration: none;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 4px;
  border-radius: 7px;
  font-size: 13px;
  position: relative;
  bottom: 13px;
}
footer {
  background: #00669f;
  height: 70px;
}
footer p {
  color: white;
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
}
/*Icono me gusta */
.fa-heart {
  color: red;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 25px;
}
/*Icono de  agregar */
.fa-plus-circle {
  color: #00669f;
  position: fixed;
  right: 10%;
  bottom: 35%;
  font-size: 55px;
}
