* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}
.descuento {
  background: #1cd1b0;
  margin: 0;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
/* header */
header {
  background: #00669f;
  height: 55px;
  position: sticky;
  top: 10px;
  z-index: 99999990;
}

header h1 {
  color: white;
  margin: 0;
  padding: 3px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}
a {
  text-decoration: none;
}
nav {
  background-color: #000000;
  color: #ffffff;
}
.menu {
  margin-top: 12px;
  text-align: right;
  margin-right: 10px;
}
.menu li {
  display: inline-block;
  margin: 0px;
  text-align: right;
}
.menu li a {
  color: #ffffff;
}
.menu li a:hover {
  font-size: 18px;
}
/* dimensiones del main */
main {
  margin: 20px 100px;
}

/* dimenciones de la carta */
.card {
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: inline-block;
  margin: 15px;
  position: relative;
  width: 320px;
}

/* contenedor fondo carta */

.box_imagen {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 193px;
  width: 100%;
}
.imagen1 {
  background-image: url(../ejercicio4/material_clase7/bg-batman.jpg);
}
.imagen2 {
  background-image: url(../ejercicio4/material_clase7/bg-wonderw.jpg);
}

.imagen3 {
  background-image: url(../ejercicio4/material_clase7/bg-superman.jpg);
}

/* contenido secundario carta perfil del personaje */

.perfil {
  border-radius: 94px;
  position: absolute;
  top: 24%;
  left: 23%;
  width: 150px;
}
.perfil:hover {
  width: 160px;
}

.info_perfil h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 10px;
  text-align: center;
}
.info_perfil p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
}
.info_perfil a {
  background-color: #00669f;
  color: #ffffff;
  width: 148px;
  height: 20px;
  text-decoration: none;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 2px;
  border-radius: 7px;
  font-size: 13px;
  position: relative;
  bottom: 13px;
}
.info_perfil a:hover {
  background-color: #dadada;
  color: #00669f;
}
footer {
  background: #00669f;
  height: 70px;
}
footer p {
  color: white;
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
}
/*Icono me gusta */
.fa-heart {
  color: red;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 25px;
}
/*Icono de  agregar */
.fa-plus-circle {
  color: #00669f;
  position: fixed;
  right: 10%;
  bottom: 35%;
  font-size: 55px;
}
.fa-plus-circle:hover {
  font-size: 60px;
  color: #00659f78;
}

/* stilo para login contacto y registro */
.box_registro_login_contacto {
  width: 500px;
  margin: 95px auto;
}
#nombre {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  padding-left: 26px;
}
#email {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  padding-left: 26px;
}
#password {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  padding-left: 26px;
}
#pais {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  padding-left: 26px;
}
#enviar_login {
  border: none;
  border-radius: 20px;
  height: 35px;
  margin-top: 20px;
  background-color: #1cd1b0;
  width: 100%;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
.accion_registro {
  border: none;
  border-radius: 20px;
  height: 35px;
  margin-top: 20px;
  width: 248px;
  margin-top: 20px;
  background: #888888;
  color: #ffffff;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
#mensaje {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  padding-left: 26px;
}
.accion_submit {
  background-color: #1cd1b0;
  color: #000000;
}
.box_registro_login_contacto h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  margin: 10px 0;
}
.box_registro_login_contacto p {
  text-align: center;
}

/* añadir super heroe */
.contenedor_heroe {
  width: 954px;
  height: 832px;
  background-color: #00669f;
  border-radius: 50px;
  margin: 0 auto;
  color: #ffffff;
}
.caja_heroe h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
}
.caja_heroe p {
  font-size: 22px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
.form1 {
  width: 50%;
  float: left;
  padding: 10px;
}
.form2 {
  width: 50%;
  float: left;
  padding: 10px;
}
.vert {
  display: block;
}

.caja_heroe {
  padding: 1px 91px;
}
.caja_heroe h3 {
  text-align: center;
}

form input,
form select {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
  border-radius: 15.3407px;
  font-style: normal;
  font-weight: 300;
}
input[type="radio"],
input[type="checkbox"] {
  width: 10px;
  height: 10px;
  border-radius: 15.3407px;
  font-style: normal;
  font-weight: 300;
}

form textarea {
  width: 100%;
  border-radius: 15.3407px;
  margin-top: 10px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 300;
}

input[type="file"] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
  border-radius: 15.3407px;
  font-style: normal;
  font-weight: 300;
}
.separador {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin: 19px 0;
}
.enviar_super {
  width: 52%;
  height: 68px;
  background-color: #1cd1b0;
  border: none;
  margin: 10px auto;
  display: block;
  font-size: 36px;
}
